@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #212121;

    --card: #ffffff;
    --card-foreground: #212121;

    --popover: #ffffff;
    --popover-foreground: #212121;

    --primary: #17171c;
    --primary-foreground: #ffffff;

    --secondary: #eeece7;
    --secondary-foreground: #212121;

    --muted: #edfce9;
    --muted-foreground: #616161;

    --accent: #f1f5ff;
    --accent-foreground: #212121;

    --destructive: #b30000;
    --destructive-foreground: #ffffff;

    --border: #d9d9dd;
    --input: #e5e7eb;
    --ring: #4c6ee6;

    --radius: 0.5rem;
  }

  .dark {
    --background: #071829;
    --foreground: #ffffff;

    --card: #17171c;
    --card-foreground: #ffffff;

    --popover: #17171c;
    --popover-foreground: #ffffff;

    --primary: #ffffff;
    --primary-foreground: #17171c;

    --secondary: #003c33;
    --secondary-foreground: #ffffff;

    --muted: #17171c;
    --muted-foreground: #93939f;

    --accent: #003c33;
    --accent-foreground: #ffffff;

    --destructive: #ff7759;
    --destructive-foreground: #17171c;

    --border: #75758a;
    --input: #75758a;
    --ring: #4c6ee6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Unica77 Cohere Web", "Inter", Arial, ui-sans-serif, system-ui, sans-serif;
  }
}